$primary-color: #000;

body {
  color: $primary-color;
  font-family: 'Bebas Neue', sans-serif;
}
.background-image {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    height: 200px;
    width: 350px;

    background-size: 100%;
    background-position: center;

    transition: background-size 1s ease;
    filter: blur(2px);
}
.background-image:hover {
    background-size: 110%;
    filter: blur(0px);
}

.categories-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;

    .category-container {
        border: 1px solid #000;
        background-color: #ffffff;
        border-radius: 20px;

        .category-body-container {
            padding: 0em 1em;
        }
    }
    .category-container:hover {
        background-color: #00000027;
        cursor: pointer;
    }
}
